.container {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    text-align: center;
}

body {
    background-color: #dddde7;
    font-family: 'PT Serif', serif;
    border-right: 85px solid ivory;
    border-left: 85px solid ivory;
}


/* Headers */
h1 {
    font-weight: bold;
}

h2 {
    font-family: 'PT Serif', serif;
    color: #153462;
    font-weight: bold;
}


/* Image */
img {
    border: 5px solid #555;
  }

.text-body-secondary {
    font-family: 'PT Serif', serif;
    text-align: left;
}

/* Lists & Paragraphs*/
li {
    text-align: left;
}

p {
    align-items: flex-start;
}

/* Bootstrap Items */
.nav-link {
    --bs-nav-pills-link-active-bg: #153462;
}

.text-bg-primary {
    color: rgb(255, 255, 255) !important;
    background-color: #153462 !important;
}

/* Contact Info Style */

.card-body {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    text-align: center;

}


